.signup {
    width: 100vw;
    height: 90.78vh;
}

.login-form {
    margin-left: 40rem;
    margin-bottom: 70rem;
    overflow: hidden;
}

.login-card {
    margin-left: 20rem;
    margin-top: 7rem;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 1px;
}